$darkblue: #404040;
$green: #769881;
$textcolor:#2c2f40;
$blue:#8db4d2;
$gray:#808080;
$black:#000;
$pink:#ffd1dc;
$lightblue:#bedce3;
$lightgray:#858585;
$hoverred:#f03d3F;
$brown:#866953;
$white: #fff;
